<div class="row">
  <div class="12-small columns" style="background-image:url(http://goodrunresearch.com/wp-content/uploads/goodrun_homebanner-1-1224x685.jpg)">
    <div class="3-large 2-medium 1-small columns left">
      <h1> </h1>
    </div>
    <div class="10-small 8-medium 6-large columns">
      <h1>Get Ready For A Good Run.</h1>
      <p>
        We are Good Run Research &amp Recreation, and we're about to rock your research world. We deliver creative, custom, qualitative solutions. Getting to know the people inside your consumers is our passion, and we're seriously GOOD at translating what they say, do, think, and feel into actionable insight.<br>
        <strong>Running strong since 2010</strong>
      </p>
    </div>
    <div class="3-large 2-medium 1-small columns left">
      <h1> </h1>
    </div>
  </div>
</div>
